<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="azguards" translate="label" sortOrder="100">
            <label>Azguards</label>
        </tab>
        <section id="whatsapp_connector" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>WhatsApp Connector</label>
            <tab>azguards</tab>
            <resource>Azguards_WhatsappConnector::config</resource>
            <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Module</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="auth_endpoint" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Authentication API Endpoint</label>
                </field>
                <field id="template_endpoint" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Template API Endpoint</label>
                </field>
                <field id="contact_endpoint" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Contact API Endpoint</label>
                </field>
                <field id="message_endpoint" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Message API Endpoint</label>
                </field>
                <field id="client_id" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Client ID</label>
                </field>
                <field id="client_secret" translate="label" type="obscure" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Client Secret</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="grant_type" translate="label" type="text" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Grant Type</label>
                </field>
                <field id="generate_token" translate="label" type="button" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Generate Token</label>
                    <frontend_model>Azguards\WhatsappConnector\Block\Adminhtml\System\Config\Form\Button\GenerateToken</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>
