<?xml version="1.0"?>
     <config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
        <default>
            <whatsApp_conector>
                <general>
                    <base_url>https://whatatalk-api.azguardstech.com/</base_url>
                    <authentication_api_url>https://whatatalk-api.azguardstech.com/realms/azguards-whatsapp/protocol/openid-connect/token</authentication_api_url>
                </general>
                <abandon_cart>
                    <enable>0</enable>
                    <abandon_after_minutes>60</abandon_after_minutes>
                    <max_per_run>50</max_per_run>
                </abandon_cart>
                <cron>
                    <campaign_sync_schedule>* * * * *</campaign_sync_schedule>
                    <contact_sync_schedule>* * * * *</contact_sync_schedule>
                    <template_sync_schedule>* * * * *</template_sync_schedule>
                </cron>
            </whatsApp_conector>
        </default>
    </config>
