<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Azguards\WhatsAppConnect\Api\Data\TemplateInterface" type="Azguards\WhatsAppConnect\Model\Template" />
    <preference for="Azguards\WhatsAppConnect\Api\Data\TemplateSearchResultsInterface" type="Azguards\WhatsAppConnect\Model\TemplateSearchResults" />
    <preference for="Azguards\WhatsAppConnect\Api\TemplateRepositoryInterface" type="Azguards\WhatsAppConnect\Model\TemplateRepository" />

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="whatsapp_templates_listing_data_source" xsi:type="string">Azguards\WhatsAppConnect\Model\ResourceModel\Template\Grid\Collection</item>
                <item name="whatsapp_campaigns_listing_data_source" xsi:type="string">Azguards\WhatsAppConnect\Model\ResourceModel\Campaign\Grid\Collection</item>
            </argument>
        </arguments>
    </type>

    <type name="Azguards\WhatsAppConnect\Model\ResourceModel\Campaign\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">azguards_whatsapp_campaigns</argument>
            <argument name="resourceModel" xsi:type="string">Azguards\WhatsAppConnect\Model\ResourceModel\Campaign</argument>
        </arguments>
    </type>

    <virtualType name="Azguards\WhatsAppConnect\Model\ResourceModel\Template\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">azguards_whatsapp_templates</argument>
            <argument name="resourceModel" xsi:type="string">Azguards\WhatsAppConnect\Model\ResourceModel\Template</argument>
        </arguments>
    </virtualType>

    <type name="Azguards\WhatsAppConnect\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">whatsapp</argument>
            <argument name="handlers" xsi:type="array">
                <item name="whatsapp" xsi:type="object">Azguards\WhatsAppConnect\Logger\Handler\WhatsApp</item>
            </argument>
        </arguments>
    </type>

    <type name="Azguards\WhatsAppConnect\Logger\SyncProcessLogger">
        <arguments>
            <argument name="name" xsi:type="string">whatsapp_sync_process</argument>
            <argument name="handlers" xsi:type="array">
                <item name="sync_process" xsi:type="object">Azguards\WhatsAppConnect\Logger\Handler\SyncProcess</item>
            </argument>
        </arguments>
    </type>

    <type name="Azguards\WhatsAppConnect\Model\Api\TemplateApi">
        <arguments>
            <argument name="logger" xsi:type="object">Azguards\WhatsAppConnect\Logger\Logger</argument>
        </arguments>
    </type>

    <type name="Azguards\WhatsAppConnect\Model\Service\TemplateService">
        <arguments>
            <argument name="logger" xsi:type="object">Azguards\WhatsAppConnect\Logger\Logger</argument>
            <argument name="mediaResolver" xsi:type="object">Azguards\WhatsAppConnect\Model\Service\MediaResolver</argument>
        </arguments>
    </type>

    <type name="Azguards\WhatsAppConnect\Model\Service\MediaPersistenceService">
        <arguments>
            <argument name="logger" xsi:type="object">Azguards\WhatsAppConnect\Logger\Logger</argument>
        </arguments>
    </type>

    <type name="Azguards\WhatsAppConnect\Model\Service\MediaDocumentService">
        <arguments>
            <argument name="logger" xsi:type="object">Azguards\WhatsAppConnect\Logger\Logger</argument>
        </arguments>
    </type>

    <type name="Azguards\WhatsAppConnect\Model\Service\MediaResolver">
    </type>
</config>
