<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="customer_save_commit_after">
        <observer name="customerSaveAfterWhatsAppConnect" instance="Azguards\WhatsAppConnect\Observer\CustomerSaveAfter" />
    </event>
    <event name="checkout_submit_all_after">
        <observer name="orderCreateAfterWhatsAppConnect" instance="Azguards\WhatsAppConnect\Observer\CreateOrderAfter" />
    </event>
    <event name="sales_order_invoice_save_commit_after">
        <observer name="invoiceSaveAfterWhatsAppConnect" instance="Azguards\WhatsAppConnect\Observer\OrderFullInvoicePaid"/>
    </event>
    <event name="sales_order_shipment_save_commit_after">
        <observer name="shipmentSaveAfterWhatsAppConnect" instance="Azguards\WhatsAppConnect\Observer\OrderShipped"/>
    </event>
    <event name="order_cancel_after">
        <observer name="orderCancelAfterWhatsAppConnect" instance="Azguards\WhatsAppConnect\Observer\OrderCancel"/>
    </event>
    <event name="sales_order_creditmemo_save_commit_after">
        <observer name="orderRefundWhatsAppConnect" instance="Azguards\WhatsAppConnect\Observer\OrderRefund"/>
    </event>
    <event name="cataloginventory_stock_item_save_after">
        <observer name="custom_abandoned_cart_observer" instance="Azguards\WhatsAppConnect\Observer\SendOutOfStockNotification"/>
    </event>
</config>
