<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system.xsd">
    <system>
        <tab id="azguards" translate="label" sortOrder="10">
            <label>Azguards</label>
        </tab>
        <section id="whatsapp_connect" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>WhatsApp Connect</label>
            <tab>azguards</tab>
            <resource>Azguards_WhatsAppConnect::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Meta API Settings</label>
                <field id="access_token" translate="label" type="obscure" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Access Token</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="waba_id" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>WABA ID</label>
                </field>
            </group>
        </section>
    </system>
</config>
