<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <whatsapp_connector>
            <general>
                <enable>0</enable>
                <auth_endpoint></auth_endpoint>
                <template_endpoint></template_endpoint>
                <contact_endpoint></contact_endpoint>
                <message_endpoint></message_endpoint>
                <client_id></client_id>
                <client_secret></client_secret>
                <grant_type>client_credentials</grant_type>
            </general>
        </whatsapp_connector>
    </default>
</config>
