<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="customer_save_commit_after">
        <observer name="azguards_whatsapp_customer_welcome" instance="Azguards\WhatsappConnector\Observer\Customer\WelcomeMessage" />
    </event>
    <event name="sales_order_place_after">
        <observer name="azguards_whatsapp_order_confirmation" instance="Azguards\WhatsappConnector\Observer\Order\Confirmation" />
    </event>
    <event name="sales_order_invoice_save_commit_after">
        <observer name="azguards_whatsapp_invoice_notification" instance="Azguards\WhatsappConnector\Observer\Invoice\Notification" />
    </event>
    <event name="sales_order_shipment_save_commit_after">
        <observer name="azguards_whatsapp_shipment_notification" instance="Azguards\WhatsappConnector\Observer\Shipment\Notification" />
    </event>
    <event name="order_cancel_after">
        <observer name="azguards_whatsapp_order_cancel" instance="Azguards\WhatsappConnector\Observer\Order\Cancel" />
    </event>
    <event name="sales_order_creditmemo_save_commit_after">
        <observer name="azguards_whatsapp_creditmemo_notification" instance="Azguards\WhatsappConnector\Observer\Creditmemo\Notification" />
    </event>
    <event name="cataloginventory_stock_item_save_after">
        <observer name="azguards_whatsapp_stock_alert" instance="Azguards\WhatsappConnector\Observer\Stock\Alert" />
    </event>
</config>
